izquierda{

    float: left;
   width: 25%; 
}

.derechaeses{
    background-image: url("../imagenes/escarabajo.jpg");
}

.derecha{
    float: right;
   width: 75%;
}

.edgar{
    text-align: center;
}

body{
    background-color: darkgray;
}

.escoro{
    display:block;
    margin:auto;
    width: 150px;
    height: 150px ;
    margin-top: 25px;
}

.comentarios{
    text-align: center;
}

